# dependencies
node_modules/
**/node_modules/

# build outputs
dist/
**/dist/

# env files
.env
**/.env
.env.*
**/.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db
