@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html {
    @apply bg-white text-obsidian antialiased;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
  }

  body {
    @apply min-h-dvh bg-white font-sans;
  }

  ::selection {
    background: rgb(255, 191, 0);
  }
}

@layer utilities {
  .text-gold-bright {
    color: rgb(255, 191, 0);
  }

  .bg-gold-bright {
    background-color: rgb(255, 191, 0);
  }
}
